.btn {
  width: auto;
  border-radius: var(--tg-rounded);
  border: 0;
  margin: 0;
  padding: var(--tg-spacing-2) var(--tg-spacing-6);
  overflow: visible;
  background: var(--tg-neutral-bg);
  color: var(--tg-neutral-text-low);
  font: inherit;
  font-size: var(--tg-font-size-base);
  font-weight: 500;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background: var(--tg-neutral-bg-hover);
  }
}

.btn--primary {
  background: var(--tg-primary-bg);

  &:hover,
  &:focus {
    background: var(--tg-primary-bg-hover);
  }
}
