.btn {
  width: auto;
  position: relative;
  border-radius: var(--tg-rounded);
  border: 0;
  margin: 0;
  padding: var(--tg-spacing-2) var(--tg-spacing-6);
  overflow: visible;
  background: var(--tg-neutral-bg);
  color: var(--tg-neutral-text-low);
  font: inherit;
  font-size: var(--tg-font-size-base);
  font-weight: 500;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  transition: all 120ms ease;

  &:hover:not(:disabled),
  &:focus {
    outline: none;
    background: var(--tg-neutral-bg-hover);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn--primary {
  background: var(--tg-primary-bg);

  &:hover:not(:disabled),
  &:focus {
    background: var(--tg-primary-bg-hover);
  }
}
