@use "sass:math";

@import "~node_modules/@radix-ui/colors/indigo.css";
@import "~node_modules/@radix-ui/colors/slate.css";

@function from-px($px) {
  @return (math.div($px, 16)) + "rem";
}

:root {
  --tg-spacing-0: #{from-px(0)};
  --tg-spacing-1: #{from-px(4)};
  --tg-spacing-2: #{from-px(8)};
  --tg-spacing-3: #{from-px(12)};
  --tg-spacing-4: #{from-px(16)};
  --tg-spacing-5: #{from-px(24)};
  --tg-spacing-6: #{from-px(32)};
  --tg-spacing-7: #{from-px(48)};

  --tg-rounded-sm: 0.125rem;
  --tg-rounded: 0.25rem;
  --tg-rounded-md: 0.375rem;
  --tg-rounded-lg: 0.5rem;
  --tg-rounded-xl: 0.75rem;
  --tg-rounded-2xl: 1rem;
  --tg-rounded-3xl: 1.5rem;
  --tg-rounded-full: 9999px;

  --tg-primary1: var(--indigo1);
  --tg-primary2: var(--indigo2);
  --tg-primary3: var(--indigo3);
  --tg-primary4: var(--indigo4);
  --tg-primary5: var(--indigo5);
  --tg-primary6: var(--indigo6);
  --tg-primary7: var(--indigo7);
  --tg-primary8: var(--indigo8);
  --tg-primary9: var(--indigo9);
  --tg-primary10: var(--indigo10);
  --tg-primary11: var(--indigo11);
  --tg-primary12: var(--indigo112);

  --tg-primary-bg-app: var(--tg-primary1);
  --tg-primary-bg-subtle: var(--tg-primary2);
  --tg-primary-bg: var(--tg-primary3);
  --tg-primary-bg-hover: var(--tg-primary4);
  --tg-primary-bg-active: var(--tg-primary5);
  --tg-primary-border-subtle: var(--tg-primary6);
  --tg-primary-border: var(--tg-primary7);
  --tg-primary-border-hover: var(--tg-primary8);
  --tg-primary-bg-solid: var(--tg-primary9);
  --tg-primary-bg-sold-hover: var(--tg-primary10);
  --tg-primary-text-low: var(--tg-primary11);
  --tg-primary-text-high: var(--tg-primary12);

  --tg-neutral1: var(--slate1);
  --tg-neutral2: var(--slate2);
  --tg-neutral3: var(--slate3);
  --tg-neutral4: var(--slate4);
  --tg-neutral5: var(--slate5);
  --tg-neutral6: var(--slate6);
  --tg-neutral7: var(--slate7);
  --tg-neutral8: var(--slate8);
  --tg-neutral9: var(--slate9);
  --tg-neutral10: var(--slate10);
  --tg-neutral11: var(--slate11);
  --tg-neutral12: var(--slate112);

  --tg-neutral-bg-app: var(--tg-neutral1);
  --tg-neutral-bg-subtle: var(--tg-neutral2);
  --tg-neutral-bg: var(--tg-neutral3);
  --tg-neutral-bg-hover: var(--tg-neutral4);
  --tg-neutral-bg-active: var(--tg-neutral5);
  --tg-neutral-border-subtle: var(--tg-neutral6);
  --tg-neutral-border: var(--tg-neutral7);
  --tg-neutral-border-hover: var(--tg-neutral8);
  --tg-neutral-bg-solid: var(--tg-neutral9);
  --tg-neutral-bg-solid-hover: var(--tg-neutral10);
  --tg-neutral-text-low: var(--tg-neutral11);
  --tg-neutral-text-high: var(--tg-neutral12);

  --tg-font-size-xs: 0.75rem;
  --tg-font-size-sm: 0.875rem;
  --tg-font-size-base: 1rem;
  --tg-font-size-lg: 1.125rem;
  --tg-font-size-xl: 1.25rem;
  --tg-font-size-2xl: 1.5rem;
  --tg-font-size-3xl: 1.875rem;
  --tg-font-size-4xl: 2.25rem;
  --tg-font-size-5xl: 3rem;

  --tg-line-height-xs: #{math.div(1, 0.75)};
  --tg-line-height-sm: #{math.div(1.25, 1.25)};
  --tg-line-height-base: #{math.div(1.5, 1)};
  --tg-line-height-lg: #{math.div(1.75, 1.75)};
  --tg-line-height-xl: #{math.div(1.75, 1.25)};
  --tg-line-height-2xl: #{math.div(2, 1.5)};
  --tg-line-height-3xl: #{math.div(2.25, 1.875)};
  --tg-line-height-4xl: #{math.div(2.5, 2.25)};
  --tg-line-height-5xl: #{math.div(1, 3)};

  --tg-font-family-default: Inter, sans-serif;
  --tg-font-family-mono: "Fira Mono", monospace;
}
